.services {}

.services__title {
    margin-bottom: 40px;
    max-width: 570px;

    @include mobile {
        margin-bottom: 20px;
    }
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px 30px;

    @include mobile {
        row-gap: 20px;
    }
}

.services__title-item {
    max-width: 270px;

    @include tablet {
        max-width: 354px;
    }
}