@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px ;
}

body {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.3px;
}

a {
    color: #00AE6C;
}

// a:focus,
// button:focus {
//     outline-offset: 1px;
//     outline: #005fcc auto 1px;
// }

.title-section {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: #000;

    @include tablet {
        font-size: 32px;
    }

    @include mobile {
        font-size: 24px;
    }
}

.visible-desktop {

    @include tablet {
        display: none;
    }
}